@layout('main')

    @section('sidebar')
    <h1> Menu </h1>
    @endsection

    @section('content')

    <h1><a href="/catalog">Каталог</a></h1>
    <h1><a href="/cart">Корзина</a></h1>
    <h1><a href="/account">Личный кабинет</a></h1>
    <h1><a href="/info">Доставка и оплата</a></h1>
    <h1><a href="/FAQ">FAQ</a></h1>
    
    @endsection 