@layout('main')

    @section('sidebar')
    <h2> Login </h2>
    @endsection

    @section('content')

    @loggedIn
    <h1><a href="/home">Дамой</a></h1>
    <h1><a href="/logout">Выход</a></h1>
    @else
    <h1><a href="/login">Вход</a></h1>
    <h1><a href="/signup">Регистрация</a></h1>
    @endloggedIn
    
    @endsection 