<!DOCTYPE html>
<html lang="en">
  <head>
      <div class="styles">
          @!section('styles') 
      </div>
  </head>
  <body>
    <div class="preloaded_scripts">
      @!section('preloaded_scripts') 
    </div>
    <header class="header">
    </header>

    <div class="container">
      <aside class="sidebar">
        @section('sidebar') 
          <p> The default sidebar content </p>
        @endsection
      </aside>

      <div class="content">
        @!section('content') 
      </div>
    </div>
  </body>
  <div class="scripts">
      @!section('scripts') 
  </div>
</html>
{{--  
@layout('main')

    @section('sidebar')
    <h2> Error </h2>
    @endsection

    @section('content')
    <h1> Sorry, this page is in developing now </h1>
    @endsection  
--}}
