@layout('main')


    @section('sidebar')
    <h2> Admin panel </h2>
    @endsection

    @section('content')

    <h1><a href="administration/users">Пользователи</a></h1>
    <h1><a href="administration/orders">Заказы</a></h1>
    <h1><a href="administration/products">Товары</a></h1>
    <h1><a href="administration/templates">Шаблоны товаров</a></h1>
    <h1><a href="administration/categories">Категории</a></h1>
    <h1><a href="administration/news">Лента новостей</a></h1>

    @endsection 