@layout('main')

    @section('sidebar')
    <h2> Choose type of user </h2>
    @endsection

    @section('content')
    <h1><a href="/signup/phys_person">Физическое лицо</a></h1>
    <h1><a href="/signup/legal_entity">Юридическое лицо</a></h1>
    @endsection 